<!DOCTYPE html>
<html>
	<head>
	
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	</head>
	
	<body>
	
	<h1>First Name</h1>
	<form method="POST" action="/send"> 
		<div class="form-group">
		<input type="text" name="fname">
		</div>
		<input class="btn btn-primary" type="submit" value="submit">
		</form>
		
		<br>
		<br>
		<br>
		
	<h1>Last Name</h1>
	<form method="POST" action="/send"> 
		<div class="form-group">
		<input type="text" name="lname">
		</div>
		<input class="btn btn-primary" type="submit" value="submit">
		</form>
		
		<br>
		<br>
		<br>
	
		<h1>Email</h1>
		<form method="POST" action="/send"> 
		<div class="form-group">
		<input type="text" name="email">
		</div>
		<input class="btn btn-primary" type="submit" value="submit">
		</form>
		
		
		<br>
		<br>
		<br>
		
	
		<h1>50 Time</h1>
		<form method="POST" action="/send"> 
		<div class="form-group">
		<input type="text" name="50time">
		</div>
		<input class="btn btn-primary" type="submit" value="submit">
		</form>
		
		<br>
		<br>
		<br>
		
		<h1>25 Name</h1>
	    <form method="POST" action="/send"> 
		<div class="form-group">
		<input type="text" name="25time">
		</div>
		<input class="btn btn-primary" type="submit" value="submit">
		</form> 
	
	
	
	</body>
</html>


